.App {
  background-image: linear-gradient(to top,#2c2c54,rgb(76,92,150));
  color: white;
}

button {
  background: rgb(76, 92, 150);
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 10px;
}

input {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

.form_container {
  background-size: cover;
  height: 100vh;
  justify-content: center;
}
form {
  display: flex;
  max-width: 60%;
  width: 500px;
  margin: 0 auto;

  background: rgb(46, 49, 65);
  opacity: 1;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 30px;
  border-radius: 5px;
}
h2 {
  text-align: center;
}

/* {First Tittle} */

.first-tittle {
  font-size: 18px;
  text-align: left;
}

.first-p {
  text-align: left;
}

.first-image{
  padding-right: 45px;
  height: 360px;
}

@media (max-width: 900px) {
  .first-image{
    height: 265px;
  }
}

@media (max-width: 700px) {
  .first-image{
    padding-right: 0px;
  }
}

@media (max-width: 450px) {
  .first-image{
    height: 200px;
  }
}

@media (max-width: 300px) {
  .first-image{
    height: 150px;
  }
}

.first-div{
  display: flex;
  flex-flow: column;
  text-align: right;
  max-width: 930px;
}

.unorder-list li{
  font-size: 20px;
}

@media (max-width: 900px) {
  .unorder-list li{
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .unorder-list li{
    font-size: 17px;
  }
}

@media (max-width: 400px) {
  .unorder-list li{
    font-size: 16px;
  }
}

/* {second tittle} */
.about-app {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
  text-align: right;
}

@media (max-width: 900px) {
  .about-app {
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .about-app {
    font-size: 17px;
  }
}

@media (max-width: 600px) {
  .about-app {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .about-app {
    font-size: 16px;
  }
}

@media (max-width: 300px) {
  .about-app {
    font-size: 15px;
    padding-top: 20px;
  }
}

.container-div{
  padding-top: 50px;
  display: flex;
  flex-flow: column;
  text-align: right;
  max-width: 930px;
}

.container-app {
  display: flex;
  padding-top: 30px;
  align-items: center;
}

@media (max-width: 700px) {
  .container-app {
    flex-direction: column-reverse;;
  }
  .container-app div {
    padding-bottom: 25px;
  }
}

.second-container-app {
  display: flex;
  padding-top: 30px;
  align-items: center;
}

@media (max-width: 600px) {
  .second-container-app {
    text-align: center;
    padding-top: 0px;
  }
}

.container h1 {
  font-size: 45px;
  color: yellow;
}

@media (max-width: 900px) {
  .container h1 {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .container h1 {
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  .container h1 {
    font-size: 22px;
  }
}

@media (max-width: 300px) {
  .container h1 {
    font-size: 20px;
  }
}

.second-image{
  padding-left: 90px;
  height: 580px;
}

@media (max-width: 900px) {
  .second-image{
    height: 460px;
  }
}

@media (max-width: 600px) {
  .second-image{
    display: none;
  }
}

/* {caroussel} */

.caroussel {
  padding-top: 60px;
  padding-bottom: 50px;
}

.caroussel img{
  height: 500px;
}

@media (max-width: 600px) {
  .caroussel{
    padding-top: 25px;
  }
}

@media (max-width: 900px) {
  .caroussel img{
    height: 400px;
  }
}

@media (max-width: 700px) {
  .caroussel img{
    height: 350px;
  }
}

@media (max-width: 600px) {
  .caroussel img{
    height: 300px;
  }
}

@media (max-width: 400px) {
  .caroussel img{
    height: 250px;
  }
}

@media (max-width: 300px) {
  .caroussel img{
    height: 200px;
  }
}

/* {Footer} */

.footer-copyright {
  background-color: #222;
  height: 37px;
  padding-top: 8px;
  text-align: center;
  margin: 0;
}

@media (max-width: 600px) {
  .footer-copyright {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .footer-copyright {
    font-size: 13px;
  }
}

@media (max-width: 325px) {
  .footer-copyright {
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  .footer-copyright {
    font-size: 10px;
  }
}