/* Whole profile container*/
/*------------------------------------------------------*/
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0px 100px 0px 100px;
    padding-top: 100px;
    padding-bottom: 50px;
}



/* User Information Section */
/*------------------------------------------------------*/
.user-info-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.user-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 100px 50px 100px;
    border: solid rgb(77, 143, 230);
    border-radius: 20px;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(to top, rgb(77, 143, 230), rgb(13, 90, 190));
    
}

.see-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0 20px 80%;
    width: 16%;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}

.see-more a {
    text-decoration: none;
    display: flex;
    margin: 50px;
    color: white;
    width: 100%;
    font-size: 25px;
    color: white;
    -webkit-text-stroke: 1px black;
}

.user-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 100px 50px 100px;
    border: solid rgb(110, 164, 235);
    border-radius: 25px;
    width: auto;
}

.user-info h3 {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    color: white;
}


/* Progress Graph*/
/*------------------------------------------------------*/
.progress-graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 100px;
    background-color: lightgrey;
}

/* Calories Graph*/
/*------------------------------------------------------*/
.calories-graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: lightgrey;
}

.weekly-workout {
    width: 100%;
}