.App {
  background-image: linear-gradient(to top,#2c2c54,rgb(76,92,150));
  color: white;
}

.about-app {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-div{
  padding-top: 50px;
}

.container-app {
  display: flex;
}

.container-app p {
  max-width: 500px;
}

.container h1 {
  max-width: 500px
}

.container-app img{
  padding-left: 90px;
}