.App {
  background-image: linear-gradient(to top,#2c2c54,rgb(76,92,150));
  color: white;
}

/* {First Tittle} */

.first-tittle {
  font-size: 18px;
}

/* {Features} */
.about-app {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-div{
  padding-top: 50px;
  display: flex;
  flex-flow: column;
  text-align-last: right;
}

.container-app {
  display: flex;
  padding-top: 30px;
}

.container-app p {
  font-size: 18px;
}

.container h1 {
  font-size: 45px;
  color: yellow;
}

.container-app img{
  padding-left: 90px;
}