.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    /* margin-left: 20%; */
}

.card-grid a {
    text-decoration: none;
    color: #333;
    display: block;
}

.card-container {
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    padding: 0 0 0 12px;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-container:hover {
    background-color: #fff;
    /* border-left: 13px solid #ff931e; */
    border-left: 13px solid #f97a22;
}

.card-title {
    text-align: center;
    font-size: 1.6rem;
    padding: 0 5px;
}

.card-category-container {
    font-size: 12px;
    padding-left: 5px;
}

.card-category {
    color: orange;
    background-color: #333;
    padding: 1px 3px;
    margin-left: 3px;
    border-radius: 4px;
}

.card-article {
    /* padding-left: 10px; */
    font-style: italic;
    display: flex;
    margin: 0;
}

.card-article a {
    padding-left: 5px;
    color: rgb(255, 166, 0);
    text-decoration: none;
}

.card-article a:hover {
    color: #ff931e;
}

.card-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    margin-right: 12px;
    margin-bottom: 5px;
}

.card-buttons a {
    color: #f97a22;
}

.card-buttons a:hover {
    color: #f97c2257;
}

.card-buttons a {
    color: #f97a22;
}

.card-buttons button {
    border: none;
    font-size: 15px;
    background: none;
    cursor: pointer;
    color: red;
}

.card-buttons button:hover {
    color: #333;
}