/* Routines ---------------------------------------*/
.routine {
    border: 2px solid black;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(65, 90, 139);
    
}

.routine:hover {
    background-color: rgb(56, 78, 121);
}

.routines h4 {
    color: white;
    font-size: 40px;
    margin-top: 30px;
}

.routine-description {
    border-top: 2px solid black;
    margin: 30px 0px
}

h2 {
    color: white;
    
}

.routines {
    text-decoration: none;
    -webkit-text-stroke: 1px black;
}

.select-routine-container a{
    width: 100%;
    height: 100%;
}

/* Exercises ---------------------------------------*/

.exercise {
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(65, 90, 139);
    border: 2px solid black
}

.exercises h3 {
    color: white;
}

.exercises h4 {
    color: white
}

.exercise-list {
    width: 100%;
    border-top: 2px solid black;
}